{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Juanjo Ruiz - Fotógrafo</h1>
    <div class="about">
        <img src="https://picsum.photos/300/350" alt="">
        <div class="about-content">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero placeat magnam nam laborum modi, rem est quo quos deserunt ad accusantium alias obcaecati nobis eius sit ipsum excepturi suscipit!</p>
        </div>
    </div>
{% endblock  %}